@media (prefers-color-scheme: dark) {
  :root {
    --textColor:#f0f0f0;
    --bgColor: #011c29;
    --bgColor-todolist: #022e47;
    --activeColor: #c5e300;
    --deleteColor : #fc5185;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --textColor:#142c47;
    --bgColor: #f0f0f0;
    --bgColor-todolist: #c7c5c5;
    --activeColor: #c5e300;
    --deleteColor : #fc5185;

  }
}

$curve: 0.4em;

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: $curve;
}

ul{
  list-style: none;
}
