.filters{

  & button{
    color : var(--textColor);
    font-size: 1.25em;
    font-weight: 600;
    border: 2px solid var(--textColor);
    background: var(--bgColor);
  }
  & .currentFilter{

    color : var(--activeColor);
    border-color: var(--activeColor);
    font-weight: bold;
  }
}
