form{
  position: relative;
  margin-bottom: 5em;

  & input{
    font-size: 1em;
    border: 3px solid $mainColor;
    font-size: 1.5em;
    padding : 0.5em;
    outline: none;


    &:focus{
      border-color: $activeColor;
      box-shadow: 0 0  25px -1px $activeColor;
    }

    // &:focus + .buttons{
    //   transform: translateY(100%);
    //   opacity: 1;
    //   z-index: 1;
    // }

  }

  & .hideButtons {
    z-index: -1;
    opacity: 0;
    position: absolute;
    top : 1.25em;
    left: 1em;
    transition: all 500ms ease-in-out;
  }

  & .showButtons{
    transform: translateY(100%);
    opacity: 1;
    z-index: 1;
  }
}
