.list-section{
  width: 100%;
}

.todoList{
  background: darken($bgColor,10);
  padding: 1em 0.5em;
  margin: 1em 0.5em;

  & .todoItem{
    margin: 0.3em;
    padding: 0.1em;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $mainColor;
    background-color: $bgColor;
    cursor: pointer;
    animation : to-bottom 500ms forwards linear;
    transition:  background 350ms ease-in-out;

    &:hover .buttons{
      transform: translateX(-5%);
      opacity: 1;
      z-index: 1;
    }

    & .text {
      flex-grow: 1;
      padding: 0.25em 1em;
      text-align: left;
    }

    & .buttons{
      font-size: 1rem;
      z-index: -1;
      transform: translateX(500%);
      opacity: 0;
      transition:  all 350ms ease-in-out;
    }
  }

  & .message{
    font-size: 1.5em;
    color: $mainColor;
  }
}


@keyframes to-bottom {
  0% { transform: translateY(-100px);}
  50% {transform: translateY(-50px);}
  100%{transform: translateY(0px);}
}
