.list-section{
  width: 100%;
}

.todoList{
  background: darken($bgColor,20);
  padding: 0.25;
  margin: 1em 0.5em;


  & .todoItem{
    margin: 0.25rem;
    padding: 0.25rem;
    font-size: 1.5em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: $mainColor;
    background-color: $bgColor;
    cursor: pointer;

    animation : to-bottom 500ms forwards linear;
    transition:  background 350ms ease-in-out;

    & .text {
      flex-grow: 1;
      padding: 0.25em 1em;
      text-align: left;
    }
    & .buttons{
      font-size: 1rem;
    }

  }
}


@keyframes to-bottom {
  0% { transform: translateY(-100px);}
  50% {transform: translateY(-50px);}
  100%{transform: translateY(0px);}
}
